<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="500" height="297" id="zoom_map" align="top">
<param name="movie" value="http://s3.amazonaws.com/stepitup2007.org/us.swf?data_file=http://s3.amazonaws.com/stepitup2007.org/events/flashmap.xml" />
<param name="quality" value="high" />
<param name="bgcolor" value="#FFFFFF" />
<embed src="http://s3.amazonaws.com/stepitup2007.org/us.swf?data_file=http://s3.amazonaws.com/stepitup2007.org/events/flashmap.xml" quality="high" bgcolor="#FFFFFF"  width="500" height="297" name="Clickable U.S. Map" align="top" 
type="application/x-shockwave-flash" 
pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</object>
