config/*.yml
config/initializers/hoptoad.rb
test/config/*.yml
*.swp
log/*
tmp/*
test/tmp/*
doc/pxd/*
public/javascripts/prototype/*
db/exports/*
db/imports/*
db/*.sql
db/*.zip
public/cache/*
public/attachments/*
public/themes/*
sites/*
test/cache/*
coverage/*
.DS_Store
