<%= @message %>

You have been invited to <%= @event.name %>.

This event will take place on <%= @event.start.strftime('%A %B %e at %l:%M%p') %> at <%= @event.location %> in <%= @event.city %>, <%= @event.in_usa? ? @event.state : @event.country %>.

Please go to <%= @url %> to find out more about this event or to RSVP.
