<ul>
<li><%= link_to 'manage users', :controller => 'admin/users', :action => 'index' %></li>
<li><%= link_to 'manage events', :permalink => @calendar.permalink, :controller => 'admin/events', :action => 'index' %></li>
<li><%= link_to 'manage invites', :controller => 'admin/invites', :action => 'index' %></li>
</ul>