<%= error_messages_for 'press' %>

<!--[form:press]-->

<p><label for="report_url">Press Coverage URL</label><br/>
<%= f.text_field 'url' %></p>

<p><label for="report_text">Press Coverage Title/Outlet</label><br/>
<%= f.text_field 'text' %></p>

<!--[eoform:press]-->

