Greetings!  

As you may well know, we had quite a gathering in <%= @event.city %> to send a strong message to Congress about global warming--Cut Carbon 80% by 2050.  To make sure Congress hears this message, click here:

http://events.stepitup2007.org/reports/<%= @event.id %>

to be taken to a web page where you can easily send an e-mail to our Representatives and Senators.  We need everyone to pitch in to get this message across. 

Thanks!
