# Don't be alarmed by the use of colons in the key, as
# long as it's not followed by a space...
#

doa.devel.radicaldesigns.org:3030: ABQIAAAA9C-o-5_7dL0qOO28APyPUxRkXutPkvyJzQgIe_vZE5iNiMK4ZBRkjBRIiRuewJiZ3eU47BhDWO0luw
doa.devel.radicaldesigns.org:3030/gmap/: ABQIAAAA9C-o-5_7dL0qOO28APyPUxRkXutPkvyJzQgIe_vZE5iNiMK4ZBRkjBRIiRuewJiZ3eU47BhDWO0luw
