<h1><%= link_to event.name, :controller => 'events', :action => 'show', :id => event.id %></h1>

<p><%= event.city %> <%= event.state %></p>
<p><%= event.start %>-<%= event.end %></p>
<p><%= event.short_description %></p>
