<%= error_messages_for 'calendar' %>

<!--[form:calendar]-->
<p><label for="calendar_name">Name</label><br/>
<%= text_field 'calendar', 'name'  %></p>

<p><label for="calendar_short_description">Short description</label><br/>
<%= text_area 'calendar', 'short_description'  %></p>
<!--[eoform:calendar]-->

