<% form_for :user, @user, :url => {:action => "reset_password", :id => @user.id} do |f| %>
	<br/> 
	Reset password for <%= @user.full_name %><br/>
	<br/> 
    New Password:<br />
    <%= f.password_field :password %><br />
    Confirm New Password:<br />
    <%= f.password_field :password_confirmation %><br />
    <%= submit_tag "Reset Password" %>
<% end %>
<br/><%= link_to 'Back to users', :controller => 'admin/users' %>
