<%= error_messages_for 'report' %>

<!--[form:report]-->

<p><label for="report_text">Event Description:</label><br/>
<%= f.text_area 'text', :rows => 7 %></p>

<p><label for="attendees">Estimated Attendance:</label><br/>
<%= f.text_field 'attendees' %></p>



<!--[eoform:report]-->

