<div style="width:<%= @attachment.width %>px;height:<%= @attachment.height %>;margin-right:auto;margin-left:auto;"><%= link_to(image_tag(@attachment.public_filename), {}, {:class => 'lbAction', :rel => 'deactivate'}) %><%= link_to( 'Close Window', {}, {:class => 'lbAction', :rel => 'deactivate'}) %><br/><%= @attachment.parent_id? ? @attachment.parent.caption : @attachment.caption %></div>
