<div style="width:500px;height:500;margin-right:auto;margin-left:auto;padding:10px">
  <h2>Share or Save this Report on on your <br>Favorite Social Bookmark Site</h2>


<p><a href="http://digg.com/submit?phase=2&url=http://events.stepitup2007.org/reports/<%= @event.id %>&title=Step It Up 2007 Event in <%= @event.city %>, <%= @event.state %>&topic=politics" rel="external" title="Digg it!" target="_blank"><img src="/images/social/digg.gif" alt="Digg icon" width="16" height="16" border="0" align="absmiddle"  class="web2icons" style="height:16px;width:16px" />Digg It !</a>
</p>


<p><a href="http://del.icio.us/post?v=4;url=http://events.stepitup2007.org/reports/<%= @event.id %>&title=Step It Up 2007 Event in <%= @event.city %>, <%= @event.state %> " rel="external" title="Bookmark to Del.icio.us!" target="_blank"><img src="/images/social/delicious.gif" alt="Delicious icon" width="16" height="16" border="0" align="absmiddle" class="web2icons" style="height:16px;width:16px" />Bookmark to Del.icio.us!</a>
</p>

<p><a href="http://www.stumbleupon.com/submit?url=http://events.stepitup2007.org/reports/<%= @event.id %>&title=Step It Up 2007 Event in <%= @event.city %>, <%= @event.state %> " rel="external" title="Stumble Upon" target="_blank"><img src="/images/social/stumbleupon.gif" alt="Stumble Upon icon" width="16" height="16" border="0" align="absmiddle" class="web2icons" style="height:16px;width:16px" />Stumble Upon</a>
</p>

<p><a href="http://reddit.com/submit?url=http://events.stepitup2007.org/reports/<%= @event.id %>" rel="external" title="Reddit!"><img src="/images/social/reddit.gif" alt="Reddit icon" width="16" height="16" border="0" align="absmiddle" class="web2icons" style="height:16px;width:16px" />Reddit!</a>
</p>

<p><a href="http://cgi.fark.com/cgi/fark/edit.pl?new_url=http://events.stepitup2007.org/reports/<%= @event.id %>" rel="external" title="Fark this!"><img src="/images/social/fark.gif" alt="Fark icon" width="16" height="16" border="0" align="absmiddle" class="web2icons"style="height:16px;width:16px" />Fark this!</a>
</p>

<p><a href="http://myweb2.search.yahoo.com/myresults/bookmarklet?u=http://events.stepitup2007.org/reports/<%= @event.id %>" rel="external" title="Yahoo!"><img src="/images/social/yahoo.gif" alt="Yahoo! icon" width="16" height="16" border="0" align="absmiddle"class="web2icons" style="height:16px;width:16px" />Yahoo!</a>
</p>

<p><a href="http://www.newsvine.com/_tools/seed&save?u=[http://events.stepitup2007.org/reports/<%= @event.id %>" rel="external" title="Newsvine!"><img src="/images/social/newsvine.gif" alt="Newsvine! icon" width="16" height="16" border="0" align="absmiddle" class="web2icons" style="height:16px;width:16px" />Newsvine!</a>
</p>
<br>
<br><br><%= link_to( 'Close Window', {}, {:class => 'lbAction', :rel => 'deactivate'}) %><br>
</div>

