document.write('<div id="report-widget"><div class="report-widget-image"><%= image_tag request.protocol+request.host+@image.public_filename(:list) %></div><div class="report-widget-title"><%= link_to "#{@report.event.city}, #{@report.event.state}", :controller => "events", :action => "show", :id => @report.event.id, :only_path=>false %></div></div>');
